body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.product-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between items */
    justify-content: flex-start; /* Align items starting from the left */
    padding: 0 20px; /* Optional: Add padding to the container */
    margin-left: 7%;
    margin-top:3%;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-image-container {
    position: relative;
    height: 200px;
}

.product img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 8px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: grey;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.arrow.left {
    left: -20px;
}

.arrow.right {
    right: -20px;
}

.arrow:hover {
    background-color: darkgrey;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0; 
    height:50px;
}

.product p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.details-btn, .cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    width:40%;
}

.details-btn:hover, .cart-btn:hover {
    background-color: #0056b3;
}

