/* 拿来放通常会用到的css styling  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a,
th a {
    text-decoration: none;
}

th a {
    color: white;
    text-decoration: underline
}

li {

    list-style: none;
}

/* flash message  */

#info {
    position: fixed;
    color: #fff;
    background: #666;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 999;

    top: -100px;
    opacity: 0;
}

#info:not(:empty) {
    animation: fade 5s;
}

@keyframes fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    10% {
        top: 100px;
        opacity: 1;
    }

    90% {
        top: 100px;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}